<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.prototipo2tt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prototipo2tt"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".activities.student.LoginAlumnoActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.student.RegistrarAlumnoActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".activities.student.LoginAlumnoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.student.HomeAlumnoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.student.CreateReservationActivity"
            android:exported="false"
            android:parentActivityName=".activities.student.HomeAlumnoActivity" />
        <activity
            android:name=".activities.student.StudentReservationActivity"
            android:exported="false"
            android:parentActivityName=".activities.student.HomeAlumnoActivity" />
        <activity
            android:name=".activities.student.StudentReservationHistoryActivity"
            android:exported="false"
            android:parentActivityName=".activities.student.HomeAlumnoActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.attendant.LoginEncargadoActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegistrarEncargadoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.attendant.HomeEncargadoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.attendant.AttendantReservationActivity"
            android:exported="false"
            android:parentActivityName=".activities.attendant.HomeEncargadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.attendant.DescriptionReservationActivity"
            android:exported="false"
            android:parentActivityName=".activities.attendant.AttendantReservationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ScheduleLaboratoryActivity"
            android:parentActivityName=".activities.attendant.HomeEncargadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.attendant.GraphReservationActivity"
            android:exported="false"
            android:parentActivityName=".activities.attendant.HomeEncargadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.attendant.CloseLaboratoryActivity"
            android:exported="false"
            android:parentActivityName=".activities.attendant.HomeEncargadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.attendant.AttendantReservationHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.attendant.HomeEncargadoActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>